[submodule "program/External/LLL"]
	path = program/External/LLL
	url = https://github.com/HalmonCelman/LLL.git
[submodule "program/External/FatFsSD"]
	path = program/External/FatFsSD
	url = https://github.com/HalmonCelman/FatFsSD.git
